@use "../global/base";
@use "../global/fonts";
@use "../global/mixins";

//=========================COMMON STYLES=======================================
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font: font(normal, $fontSizeXS);
  color: $cl-black;
  min-width: $minWidth;
  overflow-x: hidden;
  background: $cl-baseColor;
}

p {
  font: font(400, $fontSizeM, 140%);
  @include mq($md) {
    font: font(400, $fontSizeS, 140%);
  }
}

span,
.span {
  color: $cl-black;
  word-break: break-all;
}

h1 {
  font: font(500, $h1, 120.833%);
  @include mq($md) {
    font: font(500, $h1m, 120%);
  }
}

h2 {
  font: font(500, $h2, 125%);
  @include mq($md) {
    font: font(500, $h2m, 120%);
  }
}

h3 {
  font: font(500, $h3, 125%);
  @include mq($md) {
    font: font(500, $h3m, 120%);
  }
}

h4 {
  font: font(500, $h4, 125%);
  @include mq($md) {
    font: font(500, $h4m, 120%);
  }
}

strong {
  color: $cl-black;
  font: font(500, $fontSizeM, 140%);
  @include mq($md) {
    font: font(500, $fontSizeS, 140%);
  }
}

li {
  font: font(400, $fontSizeM);
  margin-left: calc($major * 3.75);
  &::marker {
    color: $cl-black;
    font-size: $fontSizeS;
  }
  @include mq($md) {
    font: font(400, $fontSizeS);
  }
}

input:invalid:not(:placeholder-shown) {
  border-color: red;
}
input:valid:not(:placeholder-shown) {
  border-color: green;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: url(../../img/svg/pointing.svg), pointer;
}

input[placeholder],
textarea[placeholder] {
  font: font(400, $fontSizeS, 140%);
}

.container {
  max-width: $maxWidthContainer + calc($major * 5);
  margin: 0 auto;
  padding: 0 calc($minor * 5);
  @include mq($xxxl) {
    max-width: $maxWidthContainer - calc($major * 20) + calc($major * 8);
    padding: 0 calc($major * 4);
  }
  @include mq($sm) {
    padding: 0 calc($major * 2);
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.container-header-logo {
  display: flex;
  gap: $major;
  align-items: center;
  max-width: 70%;
  @include mq($md) {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 100%;
  }
}

.condition-gray {
  color: $cl-grey700;
  display: flex;
  gap: $major;
  font: font(500, $fontSizeM);
  @include mq($md) {
    font: font(500, $fontSizeS);
  }
  span {
    font-size: $fontSizeM;
    @include mq($md) {
      font-size: $fontSizeS;
    }
  }
}

//=========================COMMON STYLES END===================================

//=========================HEADER==============================================

.header {
  &__content {
    padding: calc($major * 8) 0 calc($major * 6) 0;
    @include mq($md) {
      padding: calc($major * 4) 0;
    }
  }
  &__title {
    margin-top: 0;
    margin-bottom: calc($major * 5);
    @include mq($md) {
      margin-bottom: calc($major * 3);
    }
  }
}

.filters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0.45583333333%, 547px));
  gap: calc($major * 2) calc($major * 4);
  align-items: flex-end;
  @include mq($md) {
    gap: calc($major * 3);
  }

  &__label {
    position: relative;
  }
  &__label-wrapper {
    display: grid;
    gap: calc($major * 2);
    align-items: flex-start;
    grid-template-columns: repeat(auto-fit, minmax(262px, 1fr));
  }
  &__clear-filters {
    position: relative;
    width: max-content;
    cursor: url(../../img/svg/pointing.svg), pointer;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../../img/svg/close.svg);
      height: calc($major * 2);
      width: calc($major * 2);
      background-repeat: no-repeat;
      background-position: center;
      bottom: calc(18%);
      @include mq($md) {
        bottom: 0;
      }
    }
    ::after {
      content: "";
      position: absolute;
      height: calc($minor/4);
      opacity: 0.2;
      background: $cl-blue;
      width: calc($minor * 20.5);
      top: calc(92%);
      left: 19%;
    }
  }

  &__clear-filters-input {
    padding-left: calc($minor * 5);
    cursor: url(../../img/svg/pointing.svg), pointer;
  }
  &__clear-filters--hide {
    display: none;
  }

  &__search {
    width: max-content;
    padding: $major calc($major * 4);
    cursor: url(../../img/svg/pointing.svg), pointer;

    @include mq($xl) {
      order: 2;
    }
    @include mq($sm) {
      width: 100%;
    }
  }
}

.select-wrapper {
  display: flex;
  flex-direction: column;
  gap: $minor;
  font: font(500, $fontSizeXS, 125%);

  &__input {
    position: relative;
    padding: $minor calc($minor * 3);
    height: calc($minor * 11);
    font: font(400, $fontSizeS, 140%);
    border: calc($minor/4) solid $cl-grey400;
    border-radius: $minor;
    background: $cl-baseColor;
    color: $cl-grey600;
    text-align: left;
    cursor: url(../../img/svg/pointing.svg), pointer;
    &:focus {
      outline: none;
      box-shadow: none;
      border: calc($minor/4) solid $cl-blue;
    }
  }

  &__input--down {
    &::after {
      content: "";
      position: absolute;
      background-image: url(../../img/svg/chevronDown.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      width: calc($major * 2);
      height: calc($major * 2);
      top: calc(50%);
      right: calc($minor * 2.75);
      transform: translateY(-50%);
    }
  }

  &__input--up {
    &::after {
      content: "";
      position: absolute;
      background-image: url(../../img/svg/chevronUp.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      width: calc($major * 2);
      height: calc($major * 2);
      top: calc(50%);
      right: calc($minor * 2.5);
      transform: translateY(-50%);
    }
  }

  &__input--selected {
    color: $cl-black;
  }

  &__input--active {
    outline: none;
    box-shadow: none;
    border: calc($minor/4) solid $cl-grey400;
  }

  &__list {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: $cl-baseColor;
    box-shadow: $Box;
    overflow: hidden;
    border-radius: $minor;
    align-items: flex-start;
    width: 100%;
    z-index: 1;
    top: calc($minor * 16.75);
    cursor: url(../../img/svg/pointing.svg), pointer;
  }

  &__list--visible {
    display: block;
  }

  &__list-item {
    display: flex;
    align-items: self-end;
    margin: 0;
    padding: $major calc($minor * 3);
    height: calc($major * 5);
    font: font(400, $fontSizeS, 140%);
    color: $cl-black;
    cursor: url(../../img/svg/pointing.svg), pointer;
    &:hover {
      color: $cl-baseColor;
      background-color: $cl-blue;
    }
  }
}

.link {
  background-color: transparent;
  border: 0;
  width: max-content;
  font: font(400, $fontSizeM, 145%);
  color: $cl-blue;
  text-decoration: none;
  cursor: url(../../img/svg/pointing.svg), pointer;
  @include mq($md) {
    font: font(400, $fontSizeS, 140%);
  }
}

.blue-button {
  height: calc($minor * 11);
  padding: $major calc($major * 4);
  justify-content: center;
  border: 0;
  border-radius: $minor;
  background-color: $cl-blue;
  color: $cl-baseColor;
  text-align: center;
  font: font(700, $button, 140%);
  cursor: url(../../img/svg/pointing.svg), pointer;
  &:hover {
    background-color: $cl-blueHover;
  }
  &:disabled {
    cursor: default;
    background-color: $cl-blueHover;
    opacity: 0.7;
  }
}
//=========================HEADER END==========================================

//=========================CARD LIST BLOCK=====================================

.card-block {
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: calc($major * 5);
    margin-bottom: clamp(calc($major * 4), 10%, calc($major * 13));
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: calc($major * 4);
  }
  &__load-card {
    width: clamp(calc($minor * 72), 100%, calc($minor * 87.5));
    margin: 0 auto;
  }
}

.card {
  &__body {
    display: flex;
    width: 100%;
    padding: calc($major * 5) calc($major * 5) calc($major * 6) calc($major * 5);
    gap: calc($major * 3);
    border-radius: calc($major * 2);
    align-items: start;
    flex-direction: column;
    background-color: $cl-baseColor;
    box-shadow: $BoxLight;
    @include mq($md) {
      gap: calc($major * 2);
      padding: calc($minor * 5);
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: calc($minor * 3);
    flex-wrap: wrap;
    word-break: break-word;
    @include mq($md) {
      flex-direction: column;
      align-items: start;
    }
  }

  &__position-title {
    color: $cl-black;
    word-wrap: break-word;
    @include mq($md) {
      order: 0;
    }
  }

  &__logo {
    @include mq($md) {
      order: -1;
    }
    @-moz-document url-prefix() {
      width: auto;
    }
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      width: auto;
    }
  }
  &__logo--hide {
    display: none;
  }

  &__description {
    position: relative;
    max-height: calc($major * 50);
    overflow: hidden;
    max-width: 63.33%;
    @include mq($md) {
      max-width: 100%;
    }
  }

  &__description--full {
    overflow: unset;
    max-height: max-content;
  }

  &__description-footer {
    position: absolute;
    top: 90%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.05) 12.82%,
      rgba(255, 255, 255, 0.98) 50.51%,
      rgba(255, 255, 255, 0.98) 56.86%,
      #fff 88.19%
    );
    width: 100%;
    height: calc($minor * 25);
    opacity: 1;
    transition: 0.5s;
  }

  &__description-footer--hide {
    height: 0;
    opacity: 0;
    transition: 0.5s;
  }

  &__respond-button {
    height: calc($minor * 11);
    padding: $major calc($major * 4);
    font: font(700, $button, 140%);
    color: $cl-baseColor;
    margin-left: auto;
    background-color: $cl-grey900;
    border: 0;
    border-radius: $minor;
    cursor: url(../../img/svg/pointing.svg), pointer;
    @include mq($md) {
      margin-left: 0;
      width: 100%;
    }
    &:hover {
      background-color: $cl-black;
    }
  }

  &__working-condition {
    display: flex;
    gap: calc($minor * 12);
    font-size: $fontSizeM;
    flex-wrap: wrap;
    padding-bottom: calc($minor * 3);
    row-gap: calc($minor * 5);
    @include mq($md) {
      gap: $major;
      flex-direction: column;
      padding-bottom: 0;
    }
  }

  &__details {
    margin: 0 auto;
    cursor: url(../../img/svg/pointing.svg), pointer;
  }

  &__details--down {
    &::after {
      content: "";
      position: absolute;
      background-image: url(../../img/svg/chevronDownBlue.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      width: calc($major * 2);
      height: calc($major * 2);
      transform: translateY(32%);
      cursor: url(../../img/svg/pointing.svg), pointer;
    }
  }

  &__details--up {
    &::after {
      content: "";
      position: absolute;
      background-image: url(../../img/svg/chevronUpBlue.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      width: calc($major * 2);
      height: calc($major * 2);
      transform: translateY(32%);
      cursor: url(../../img/svg/pointing.svg), pointer;
    }
  }
}

//=========================CARD LIST BLOCK END=================================

//=========================FORM BLOCK==========================================

.request-block {
  background-color: $cl-grey100;
  text-align: center;
  &__form {
    display: flex;
    flex-direction: column;
    gap: calc($major * 2);
    text-align: start;
    align-items: center;
    margin-bottom: calc($major * 2);
  }

  &__content {
    padding: calc($major * 8) 0 calc($major * 11) 0;
    @include mq($md) {
      padding: calc($major * 4) 0;
    }
  }
}

.form {
  @-moz-document url-prefix() {
    position: relative;
  }
  &__label {
    width: clamp(calc($minor * 72), 100%, calc($minor * 147.5));
  }
  &__button {
    padding: $major calc($major * 4);
    width: clamp(calc($major * 36), 100%, calc($major * 48.25));
    cursor: url(../../img/svg/pointing.svg), pointer;
    margin-top: calc($major * 2);
  }

  &__text-area {
    height: calc($major * 11);
    resize: none;
    cursor: url(../../img/svg/pointing.svg), pointer;
  }
  &__button-description {
    font: font(400, $fontSizeM, 140%);
    @include mq($md) {
      font: font(400, $fontSizeS, 140%);
    }
  }
  &__legend {
    margin-bottom: calc($minor * 5);
    text-align: center;
    font: font(500, $h2, 125%);
    @include mq($md) {
      margin-bottom: calc($major * 3);
    }
    @-moz-document url-prefix() {
      position: absolute;
      left: 50%;
      top: - calc($minor * 3);
      transform: translate(-50%, 0);
    }
  }
  &__link {
    font: font(500, $fontSizeM, 140%);
  }
  &__description {
    margin-bottom: calc($major * 3);
    font: font(400, $fontSizeL, 140%);
    @include mq($md) {
      font: font(400, $fontSizeM, 140%);
    }
    @-moz-document url-prefix() {
      padding-top: calc($minor * 12)
    }
  }
  &__fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc($major * 2);
    min-width: 0;
    max-width: 100%;
    width: 100%;
    border: none;
  }
}

//=========================FORM BLOCK END======================================

//=========================FOOTER BLOCK========================================

.footer {
  background-color: $cl-grey900;
  &__content {
    display: flex;
    flex-wrap: wrap;
    row-gap: calc($minor * 5);
    width: 100%;
    padding: calc($major * 5) 0;
    color: $cl-baseColor;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: $major;
    height: auto;
    width: clamp(calc($minor * 72), 100%, calc($minor * 97.5));
    font: font(500, $fontSizeL, 140%);
    margin-right: auto;
    @include mq($md) {
      font: font(500, $fontSizeM, 140%);
    }
  }

  &__address {
    display: flex;
    flex-direction: column;
    gap: $major;
    position: relative;
    font: font(400, $fontSizeM, 145%);
    text-align: end;
    @include mq($md) {
      font: font(400, $fontSizeS, 145%);
    }

    &:last-child:before {
      content: "";
      position: absolute;
      height: calc($minor/4);
      opacity: 0.2;
      background: $cl-baseColor;
      width: calc($minor * 18);
      top: 100%;
    }
    &:nth-child(n) {
      text-align: end;
      align-items: end;
      @include mq($md) {
        align-items: start;
        text-align: start;
      }
    }
  }
}

//=========================FOOTER BLOCK END====================================
